<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> <!-- ommiture tagging --> <script type="text/javascript" src="TELUS_files/c2256e410c"></script><script src="TELUS_files/nr-spa-1039.js"></script><script src="TELUS_files/satelliteLib-ddb0de6ce072a0a6c50354c4897bdb2ca604a303.js"></script>
	  <script type="text/javascript">
	    var contextRoot = "/store/demo-jaguar";
	  </script>
	<title>TELUS</title>
	
	<link rel="stylesheet" type="text/css" href="TELUS_files/reset.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/frogger.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/telus-fonts.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/telus-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/bootstrap-datepicker.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/dropit.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/slick.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/easytabs.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/styles.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/fonts.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/app-style.css">
	<link rel="stylesheet" type="text/css" href="TELUS_files/styles-zfactor.css">
	<link href="https://wcm-eof.s3.amazonaws.com/static_content/jaguar/img/TELUS-favicon-16.png" sizes="16x16" type="image/png" rel="icon">


	<script type="text/javascript" src="TELUS_files/libs.js"></script><style type="text/css"></style>
	<script type="text/javascript" src="TELUS_files/cities.js"></script>
	<script type="text/javascript" src="TELUS_files/tbs-g_buy_navigation.js"></script> 
	<script type="text/javascript" src="TELUS_files/jaguar_buy.js"></script> 
	<script type="text/javascript" src="TELUS_files/jaguar.js"></script>
	
	<script type="text/javascript">
			$( document ).ready( function () {
				JAG.init();
			});
	</script>
	

	
	<!-- This tag needs to be included as per Aman to ressolve browser issue -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
  <script src="TELUS_files/s-code-contents-a7455f1606ceae1129b7bed28a499fdc837228d0.js"></script></head>
  	 <body> 

















	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	



   











	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	


<!--Added below droplet to fix the defect EOFR-4225 -->

<!--Added above droplet to fix the defect EOFR-4225 -->
<!-- As part of user story EOFR-5354 -->

<input id="dbDate" value="03/02/2018 11:03:27 AM" type="hidden">
<input id="serverTimeZone" value="EST" type="hidden">
<div class="outer-container secondary_bg purple_bg">
	<div class="inner-container clearfix">
			
			<h3 class="title no_margin">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Welcome to TELUS IQ, Smart Mobility Management.
	
			

</h3>	
			<nav>
				<ul class="no_styles">
					<ul class="no_styles">
					
					<li class="left"><a class="block " href="https://enterprise.telus.com/store/demo-jaguar/createBundle/bundlesListing.jsp?cat=mybundles"><strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	My Bundles
	
			

</strong></a></li>	









 
 

<li class="left"><a href="https://enterprise.telus.com/store/demo-jaguar/acquisition/devicesListing.jsp?cat=cat700009" class=" block">
	<strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Devices
	
			

</strong>	</a></li>









 
 

<li class="left"><a href="https://enterprise.telus.com/store/demo-jaguar/purchase/accessories.jsp?cat=cat1240012" class=" block">
	<strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Accessories
	
			

</strong>	</a></li>









 
 

<li class="left"><a href="https://enterprise.telus.com/store/demo-jaguar/byod/plan.jsp?cat=cat700038" class=" block">
	<strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	BYOD Plans
	
			

</strong>	</a></li>









 
 

<li class="left"><a href="https://enterprise.telus.com/store/demo-jaguar/upgrade/home.jsp?cat=cat700039" class=" block">
	<strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Upgrade
	
			

</strong>	</a></li>
				<li class="left"><a class="block " href="https://enterprise.telus.com/store/demo-jaguar/manageOrder/orderListing.jsp?cat=om"><strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Order Management
	
			

</strong></a></li>	</ul>	</ul></nav>	
			<div class="block clearfix right" style="color: #49166d;margin:-33px">
			<a class="shopping_cart" href="https://enterprise.telus.com/store/demo-jaguar/checkout/cartReview.jsp">
				
					<div class="col-xs-2">
						<div class="item_count"><span>1</span></div>
						<span class="frg-icon icon-cart"></span>
					</div>
			</a>
				
				<div class="col-xs-10 status" style="padding-right:0px;margin-right:-13px; white-space: nowrap;font-size: 14px;text-align:right;">
				
						<div class="tax-info" style="overflow:hidden!important;">
							
							<div class="frg-icon frg-link icon-info easy-pay color-purple right" style="background: transparent;border-style: none !important;padding-right:5px;height:25px !important;line-height:25px !important;"> </div>
							<div class="tooltip_bubble" style="width: 250px;right: 0px;top: -10px;white-space:normal!important;">
								<span>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	If you would like to choose a different BAN, please navigate to the cart page and click on 'Clear cart'
	
			

</span>
							</div>
							<div class="right"><strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	BAN:
	
			

</strong>&nbsp;31099749</div>	</div>	<div><strong>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Last saved:
	
			

</strong><span id="lastSavedDate">Mar 02 11:03 (EDT)</span></div>	
	</div>	</div>	
	</div>
	</div>
	<script type="text/javascript" language="javascript" src="TELUS_files/jquery-dateFormat.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			var dbLastSavedDate = $('#dbDate').val();
			if(dbLastSavedDate != null && dbLastSavedDate != '' && dbLastSavedDate != undefined && dbLastSavedDate != 'undefined')
			{
				var now = new Date().toString();
		    	var timeZone = now.replace(/.*[(](.*)[)].*/,'$1');
		    	var timeTokens = timeZone.split(' ');
		    	var timeZoneShort = '';
		    	for (i = 0; i < timeTokens.length; i++) { 
		    		timeZoneShort += timeTokens[i].charAt(0);
		    	}
		    	var a=dbLastSavedDate.split(" ");
				var d=a[0].split("/");
				var t=a[1].split(":");
				var AMPM =a[2];
				var timezone = $("#serverTimeZone").val();
				
				var hours = ((Number(t[0]) + 11) % 12 + 1);
		    	var ff= d[0]+"/"+d[1]+"/"+d[2]+" "+hours+":"+t[1]+":"+t[2]+" "+AMPM+" " + timezone;
		    	var date1 = new Date(ff);
		    	var dateLocal = $.format.date(date1.toString(), 'MMM dd HH:mm');
				$('#lastSavedDate').html(dateLocal+' ('+timeZoneShort+')');
			}
		});
	</script> 	
							


















	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	



















	
 
	

	
 
	
 
	


  
<input value="/store/demo-jaguar" id="contextPath" type="hidden">
<input value="4100001" id="siteId" type="hidden">

<!-- getting savedCartOrder count and 1st two cartNames -->

<!-- As part of user story EOFR-5354 -->

<!--Added below droplet to fix the defect EOFR-4225 -->

<!--Added above droplet to fix the defect EOFR-4225 -->

 <!-- banner:pageContent -->







 



	
	
	
	
	

	
	
	
	
	
 
	


 
<div class="outer-container content white_bg shadow">
<div class="inner-container main_banner clearfix">
<div class="left">
<h1>Multiple orders made easy</h1>
<p>Import a subscriber list to speed<br> up bulk orders.</p>
<!-- <a href='#' class='frg-button color-green'>Learn how</a> -->
</div>
<div class="birds left">
<img src="TELUS_files/3_Parrot_BLRD_GN_RD_m.jpg" alt="birds">
</div>
</div>
</div>
		
<div class="outer-container main_content purple_bg">
	<div class="inner-container">
	  <h3 class="title">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Track, adjust and manage your business mobility needs
	
			

</h3> 
		   <div class="box  left">
			<div class="top">
				<h3 class="buy">
					<a href="#" class="hide_pointer"><span class="support-footer__icon frg-icon icon-user-profile-inverted"></span>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Buy
	
			

</a>
				</h3>

				<h6 class="description">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Get the right devices, SIMs and accessories for your business.
	
			

</h6>
			</div>
			<ul class="no_styles"> 
				
				<li><a href="https://enterprise.telus.com/store/demo-jaguar/createBundle/bundlesListing.jsp?cat=mybundles">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	My bundles
	
			

<span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
				
				<li><a href="https://enterprise.telus.com/store/demo-jaguar/acquisition/devicesListing.jsp">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Buy devices
	
			

<span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
				
				<!-- As part of user story EOFR-5354 -->
				
					<li><a href="https://enterprise.telus.com/store/demo-jaguar/byod/plan.jsp">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Activate BYOD plans
	
			

<span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
				
						<li><a href="https://enterprise.telus.com/store/demo-jaguar/upgrade/home.jsp">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Upgrade a subscriber
	
			

<span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
					
			
				<li><a href="https://enterprise.telus.com/store/demo-jaguar/purchase/accessories.jsp">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Buy accessories
	
			

<span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
			</ul>
		</div>
	   
	   	<div class="box  left">
			<div class="top">
				<h3 class="manage">
					<a href="https://managebusiness.telus.com/ui/home/index.jsp"><span class="support-footer__icon frg-icon icon-smartphone-inverted"></span>
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Manage
	
			

</a>
				</h3>

				<h6 class="description">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Gain real-time visibility and control over your mobile workforce.
	
			

</h6>
			</div>
			<ul class="no_styles">
									
										<li><a href="https://managebusiness.telus.com/ui/home/index.jsp">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	View usage &amp; manage account
	
			

<span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
										
	<!-- Commented below 2 links as a part of EOFR-4543 -->	
	</ul>	</div>		
		<div class="box  left">
			<div class="top">
				<h3 class="order">
					<a href="#" class="hide_pointer"><span class="support-footer__icon frg-icon icon-cart-inverted"></span> 
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Order Management
	
			

</a>
				</h3>

				<h6 class="description">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	View, update and confirm your recent and pending orders.
	
			

</h6>
			</div>
			<ul class="no_styles">
				<li><a href="https://enterprise.telus.com/store/demo-jaguar/manageOrder/orderListing.jsp?cat=om">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Review my orders
	
			

 <span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
				
				<!-- Changes made for User Story EOFR-10990 -->
				















	
	
	
 
	
	
	

	
	
	
 
	
	
	
	
	

 	
						<li><a href="https://enterprise.telus.com/store/demo-jaguar/manageOrder/pendingOrderListing.jsp?cat=om">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Pending orders
	
			

 <span class="support-footer__icon frg-icon icon-arrow-right right"></span></a></li>
					
  
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="outer-container content white_bg">
	<div class="inner-container">
		<div class="support_section clearfix">
			






 



	
	
	
	
	

	
	
	
	
	
 
	


 
<div class="col6 left">
	<div class="left gap_right">
		<h3 class="title">Support shortcuts</h3>
		<ul class="list"><li><a href="https://enterprise.telus.com/wcs/sites/tiq/en/support_landing?buyLink=/store/demo-jaguar">Browse support articles</a></li>
			<!--<li><a href="#">Submit a repair or return request</a></li>-->
			<li><a target="_blank" href="https://www.telus.com/support/mobile-device-guides#!/">View device starter guides</a></li>
			<li><a href="https://enterprise.telus.com/store/demo-jaguar/support/customerFeedBackDetails.jsp">Suggestion and feedback link</a></li>
			<li><a href="https://enterprise.telus.com/store/demo-jaguar/newAdmin/newAdminRegistration.jsp">New user request form</a></li>
               </ul>
         </div>
<img class="headset left" src="TELUS_files/headset.jpg" alt="headset"></div>
			<div class="col6 separator left">
				<h3 class="title">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Repairs
	
			

</h3>				
				<div class="ticket_number_status">
					
					<input class="left frg-input-field" id="serialNumber" placeholder="Insert IMEI here">
					<a class="left frg-button gap_left_small" href="#" onclick="validateSerialNumber();">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Submit repair
	
			

</a>
				</div>
				<div id="serialNumberErrorMsg" style="display:none;color:red;">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Please enter valid equipment serial number.
	
			

</div>	<!-- Submit repair FAQ -->	






 



	
	
	
	
	

	
	
	
	
	
 
	


 
<a target="_blank" href="https://wcm-eof.s3.amazonaws.com/static_content/jaguar/docs/How_do_I_send_a_device_in_for_repair.pdf"> Have you tried these troubleshooting steps? </a><br><a target="_blank" href="https://wcm-eof.s3.amazonaws.com/static_content/jaguar/docs/How_do_I_send_a_device_in_for_repair.pdf"> What is an IMEI? </a> 
				
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="position: absolute; z-index: 1; margin-top: 6em; margin-left: 10em; width: 650px; ">
		<div class="modal-content" style="padding:1em;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="frg-icon icon-x-inverted close" aria-hidden="true"></span></button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer" style="margin-top:1em;">
				<button type="button" class="frg-button color-green button-wider" data-dismiss="modal">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Remind Me Later
	
			

</button>
				<button type="submit" class="frg-button color-green button-wider" id="dismiss-notifications-submit">
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Don't Show again
	
			

</button>	</div>	</div>	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){	
	if(false) {
		$.ajax({
			type: "POST",
			url: $('#contextPath').val()+"/fragment/fetchNoticationContent.jsp?siteId=" + $('#siteId').val(), 
		success: function(data){
			if(data.trim() != 'empty') {
				$('#modal-notification .modal-body').html(data);
				$('#modal-notification').modal('show', {backdrop: 'static'});
			} 
		},
		error: function(){
			}
		});
	}
	
	$('#dismiss-notifications-submit').click(function ( e ) {
		$.ajax({
			type: "POST",
			url: "./fragment/dismissNotication.jsp", 
			success: function(data){
				$('#modal-notification').modal('hide');
			},
			error: function(){
			}
			});
		});
	});

</script>

















	
 
	

	
 
	
 
	


<div class="outer-container content purple_bg">

 <div class="inner-container">
				<div class="sub_footer center">
				
<!-- Commented out until ready for launch in production  -->
			
				<!-- Based on EOFR-3499 Hide few content in global footer -->
				<!-- Based on EOFR-4915 the Chat content has been made visible again -->
				
					<div class="col6 center_text left">
					
								<a class="support block" href="https://enterprise.telus.com/wcs/sites/tiq/en/support_landing?buyLink=/store/demo-jaguar">
									<span class="support-footer__icon frg-icon icon-lifesaver"></span>
								</a>
								<a href="https://enterprise.telus.com/wcs/sites/tiq/en/support_landing?buyLink=/store/demo-jaguar">
								
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	 Get support online
	
			

</a>	
	</div>	
						<div class="col6 separator center_text online left">
							<a onclick="window.open('https://chat.telus.com/chat/chat-iq.html?portal=telusiq&amp;ulang=en&amp;company_name=Demo - Jaguar &amp;ban=31099749&amp;nickname=Raghu Bedi', 'win', 'width=340,height=600')" href="#" class="chat agentonline block" id="ctaBtnChat">
								<span class="support-footer__icon frg-icon icon-chat-dots"></span>
							</a>
							<a onclick="window.open('https://chat.telus.com/chat/chat-iq.html?portal=telusiq&amp;ulang=en&amp;company_name=Demo - Jaguar &amp;ban=31099749&amp;nickname=Raghu Bedi', 'win', 'width=340,height=600')" href="#">
							
















	
	
 
	

	
	
 
	
 
 
 
	


	
	
	
	
	
	Chat online
	
			

</a>	</div>	
				<div class="clear"></div>
				</div>
			</div> 
		</div>

			
						<script type="text/javascript" language="javascript" src="TELUS_files/jaguar_relic.js"></script>
					

	<div class="spinner2"></div>

 <!--Commented below code to fix couple pages java script issues saying $ is not defined --> 
 <!-- ommiture tagging --> <script type="text/javascript">_satellite.pageBottom();</script>
  
</body></html>